body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


button{
    cursor: pointer;
}

.logo{
    color: #4D5AE5;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.studio{
    color: #2E2F42;
    font-size: 18px;
    line-height: 0.32;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.navigation-link{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navigation-link:hover{
 color: #404BBF;
}
.navigation-link:focus{
    color: #404BBF;
}

.contacts-link{
    color: #434455;
    line-height: 24px;
    text-decoration: none; 
    letter-spacing: 0.02em;
}
.adress-link{
    font-style: normal;
}
.contacts-link:hover{
    color: #404BBF;
}
.contacts-link:focus{
    color: #404BBF;
}

.navigation-link:active{
    color: #404BBF;
}


.dark-bg{
    color: #2E2F42;
}

.main-content{
    font-family: Roboto;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    background-color: #2E2F42;
    text-transform: capitalize;
    letter-spacing: 0.02em;

   }

   .button{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
   .button:hover{
    background-color: #404BBF;
  }

    button:focus{
        background-color: #404BBF;
    }


    .white-bg{
        color: #FFFFFF
    }

    .features-title-list{
        font-family: Roboto;
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
    }
        

    .features-list-text{
        font-family: Roboto;
        color:#434455;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
    }

.h2{
    font-family: Roboto;
    font-weight: 700px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}
    
   


.light-bg{
    background-color: #F4F4FD;
}

.our-team-title{
    font-family: Roboto;
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.our-team-list-items{
    background-color: #FFFFFF;
}

.our-team-list-title {
    font-family: Roboto;
    font-weight: 500;
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.our-team-list-text{
    font-family: Roboto;
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.our-portfolio-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;   
}

.project-card-name{
    font-family: Roboto;
    color: #2E2F42;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.project-card-content{
    font-family: Roboto;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.dark-bg{
    background-color:#2E2F42;
}
.logo-footer{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    color: #4D5AE5;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.54px;
}

.studio-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #F4F4FD;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.54px;
}
.footer-content{
    font-family: "Roboto",sans-serif;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    text-transform: none;
    letter-spacing: 0.02em;
}